@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$desktop = 1600px
$laptop = 1100px
$tablet = 768px
$mobile = 400px

// Colors
$back ?= #f2f2f2
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px

// CSS Reset
global-reset()
@import '_input.styl'

webfont('BatonTurboWeb-Book', 'BatonTurboWeb-Book', false, 'normal')

body,html
	width 100%
	height 100%
	background-color $back
	-webkit-text-size-adjust 100%

html
	font-size 62.5%
	+below($tablet)
		font-size 42.5%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'BatonTurboWeb-Book', Helvetica, Arial, sans-serif
	font-size 2.4rem
	line-height 1.2em

p
	margin-bottom 1em

sup
	font-size 0.6em
	margin-left 0.4em

em, em a, em a:hover, em a:visited, em a:focus
	color $accent

table
	width 100%
	table-layout fixed
	border-collapse collapse
	font-size 0.6em
	line-height 1em
	margin-bottom 2.4rem

table, th, td
	border 2px solid black

td, th
	padding 0.5em

table.strong
	text-transform uppercase
	font-size 1em
	[colspan]
		text-align center
	p:last-of-type
		margin-bottom 0

table.index
	font-size 1em
	border none
	white-space nowrap
	table-layout initial
	td, th
		padding 0
		border none
		overflow hidden
	td:nth-child(1)
		position relative
		width 100%
		h5
			padding-right .3em
	td:nth-child(1)::after
		content ''
		display inline-block
		height 2px
		background $secondary
		width 100%		
		bottom .3em
	td:nth-child(2)
		padding-left .3em
	h5
		margin 0
		display inline-block
		text-transform uppercase
	p:last-of-type
		margin-bottom 0

.indent
	margin-left 1em
	margin-top -1em

.outline
	display inline-block
	text-transform uppercase
	border 2px solid
	padding .3em .3em .1em
	background $back

::selection
	background $secondary
	color $back
	
::-moz-selection
	background $secondary
	color $back

*
	//hideselect()
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.loader
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $back
	background-size 15px
	z-index 10000

#intro
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 1500
	flexbox()
	align-items center
	justify-content center
	cursor pointer
	span
		text-transform initial
		font-size 9.6vw
		padding 7.8vw 4vw 5.9vw
		border .8vw solid
		background $back

header
	position fixed
	width 100%
	top 0
	left 0
	text-align center
	padding 3rem
	z-index 1000
	hideselect()
	.site-title
		display block
		.outline
			text-transform initial
	.lang-select
		position absolute
		top 3rem
		right 3rem
		font-size .6em
		+below($tablet)
			font-size .8em
	.menu
		display none
		position absolute
		width 100%
		top 0
		left 0
		padding 3rem
		text-transform uppercase
		background $back
		span
			display inline-block
			border 2px solid transparent
			padding .3em .3em .1em
		span.outline
			border-color $secondary

header:hover
	.site-title
		+above($tablet)
			display none
	.menu
		+above($tablet)
			display block

#container
	span(1)
	margin-top 10rem
	padding 0 3rem

#scan-cropper
	col(1/2, cycle:2)
	overflow hidden
	hideselect()
	margin-bottom 1em
	+above($tablet+1)
		position fixed
		width 46.5%
		right 0
		margin 0 3rem
	+below($tablet)
		stack()
	.controls
		flexbox()
		align-items center
		margin-bottom 0.5em
		+below($tablet)
			margin 2em 0
		#percent
			margin-right 1rem
			min-width 2.6em
		#range
			padding 0 .7rem
	#preview
		transition(opacity, 600ms)
		opacity 1
		width 100%
		height 60vh
		text-align center
		overflow hidden
		cursor pointer
		+below($tablet)
			height 60vw
		.preview
			display none
			width 100%
			height 100%
			object-fit cover
			object-position 50% 50%
		.preview-1x
			object-fit contain
	for row in 1..5
		#preview.zoom-{row}x .preview-{row}x
			display block
	.cropit-preview.cropit-image-loading
		opacity 0.5
		cursor wait
	.cropit-preview.cropit-image-loaded
		opacity 1
	.image-info
		position relative
		margin-top 0.5em
		+below($tablet)
			margin 2em 0
		.image-number
			margin-right 1em
		.image-caption
			position absolute

#sections
	col(1/2)
	position relative
	+below($tablet)
		stack()
	section
		span(1)
		margin-bottom 2em
	section:last-of-type
		margin-bottom 90vh
		+below($tablet)
			margin-bottom 1em !important
	.section-title
		hideselect()
		margin-bottom 1em
		margin-left 3em
	ol
		list-style decimal
		padding-left 1em

footer
	+above($tablet + 1)
		position absolute
		bottom 0
		left 0
		font-size .6em
		line-height 1.3em